{% assign date = comply_by_date | default: "September 26th, 2025" %}
<div class="usa-step-indicator usa-step-indicator--counters" aria-label="progress">
  <ol class="usa-step-indicator__segments">
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
      <span class="usa-step-indicator__segment-label">Research <span class="usa-sr-only">completed</span></span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
      <span class="usa-step-indicator__segment-label">Draft <span class="usa-sr-only">completed</span></span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current" aria-current="true">
      <span class="usa-step-indicator__segment-label">Pending</span>
    </li>
    <li class="usa-step-indicator__segment">
      <span class="usa-step-indicator__segment-label">Required <span class="usa-sr-only">not completed</span></span>
    </li>
  </ol>

  <div class="margin-top-4 usa-prose">
    <p class="desktop:display-none text-bold">Pending</p>
    <p>This standard will be pending for one year. Agencies will be required to comply with this standard on {{ date }}.</p>
  </div>
</div>
