<div class="usa-step-indicator usa-step-indicator--counters bg-base-lightest padding-2" aria-label="progress">
  <ol class="usa-step-indicator__segments">
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
      <span class="usa-step-indicator__segment-label">Research <span class="usa-sr-only">completed</span></span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
      <span class="usa-step-indicator__segment-label">Draft <span class="usa-sr-only">completed</span></span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current" aria-current="true">
      <span class="usa-step-indicator__segment-label">Pending</span>
    </li>
    <li class="usa-step-indicator__segment">
      <span class="usa-step-indicator__segment-label">Required <span class="usa-sr-only">not completed</span></span>
    </li>
  </ol>

  <div class="margin-top-4">
    <p class="desktop:display-none text-bold">Pending</p>
    <p>This standard will be pending for one year. Agencies are required to comply with this standard by September 26, 2025.</p>
  </div>
</div>
