<div class="usa-step-indicator usa-step-indicator--counters bg-base-lightest padding-2" aria-label="progress">
  <ol class="usa-step-indicator__segments">
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
      <span class="usa-step-indicator__segment-label">Research<span class="usa-sr-only">completed</span></span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
      <span class="usa-step-indicator__segment-label">Draft<span class="usa-sr-only">completed</span></span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
      <span class="usa-step-indicator__segment-label">Pending<span class="usa-sr-only">completed</span></span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current" aria-current="true">
      <span class="usa-step-indicator__segment-label">Standard</span>
    </li>
  </ol>

  <div class="margin-top-4">
    <h3 class="desktop:display-none">Standard</h3>
    <p class="margin-top-4">Federal agencies are required to comply with this standard.</p>
  </div>
</div>
