{% comment %}
This is the USWDS Slim alert component. Change the alert state to change the background color and icon.
The different states are info|warning|success|error|emergency.
See https://designsystem.digital.gov/components/alert/ for more options.
{% endcomment %}
<section class="usa-alert__wrapper bg-warning-lighter border-left-solid border-warning border-left-1">
  <div class="grid-container padding-x-1">
    <div class="usa-alert usa-alert--warning usa-alert--slim border-left-0">
      <div class="usa-alert__body font-body-xs">
        <p class="usa-alert__text">
          <strong>This site is in beta</strong> and is still being developed.
        </p>
      </div>
    </div>
  </div>
</section>
