<div class="usa-step-indicator usa-step-indicator--counters padding-y-2 display-none tablet:display-block" aria-label="progress">
  <ol class="usa-step-indicator__segments">
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current">
      <span class="usa-step-indicator__segment-label">Research<span class="usa-sr-only">completed</span></span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current">
      <span class="usa-step-indicator__segment-label">Draft<span class="usa-sr-only">completed</span></span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current">
      <span class="usa-step-indicator__segment-label">Pending<span class="usa-sr-only">completed</span></span>
    </li>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current">
      <span class="usa-step-indicator__segment-label">Required<span class="usa-sr-only">completed</span></span>
    </li>
  </ol>
</div>
