{% comment %} This tagline will appear in your homepage {% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">
        Deliver a high-quality, digital-first experience for the public
      </h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>
        The public primarily interacts with the federal government through
        digital channels. More than five hundred million users visit executive
        branch federal sites each month, increasingly from mobile devices.
      </p>
      <p>
        Agencies should ensure their websites, including web applications,
        digital services, and mobile applications, are meeting user needs by
        adhering to best practices and implementing the federal web standards.
        Together, we can design and deliver a high-quality, integrated digital
        experience that is simple, seamless, and secure across agencies for all
        users.
      </p>
    </div>
  </div>
</section>
