@use 'uswds-core' as *;
@use '../colors' as *;

.usa-hero {
  background-color: $hero-blue;
  background-image: none;

  &__callout {
    background-color: $hero-blue;
    max-width: 30rem;
  }

  &__heading {
    color: white;
    font-weight: 400;
    line-height: 1.4;
  }
}
