@use 'uswds-core' as *;
@use '../colors' as *;

.usa-hero {
  background-color: $hero-blue;
  background-image: none;

  &__callout {
    background-color: $hero-blue;
    max-width: 28rem;
    padding: 2rem 0 2rem 0;
  }

  &__heading {
    color: white;
    font-size: 2.05rem;
    line-height: 1.4;
  }
}
