---
layout: layouts/page
---

{% comment %}
This template uses the USWDS collection component to display teasers.
{% endcomment %}


Federal website standards are evidence-based actions that will help agencies deliver high-quality, consistent digital experiences for the public. We publish standards that must be followed and potential standards that are in development so you can follow their progress. 

<ul class="usa-card-group">
  {%- for standard in collections.standards -%}
    <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4">
      <div class="usa-card__container">
        <div class="usa-card__header">
          <h4 class="usa-card__heading">{{ standard.data.title }}</h4>
        </div>
        <div class="usa-card__body">
          <span class="usa-tag">{{ standard.data.pageFlowSection }}</span>
          <p><strong>Category: </strong>{{ standard.data.category }}</p>
          <p><strong>Why: </strong>{{ standard.data.why }}</p>
        </div>
        <div class="usa-card__footer">
          <a href="{{ standard.url | url }}" class="usa-button">Learn about
            {{ standard.data.title }}</a>
        </div>
      </div>
    </li>
  {%- endfor -%}
</ul>


<!-- <a href="{{ '..' | url }}">View these standards as a collection</a> -->
