---
layout: layouts/page
---

{% comment %}
This template uses the USWDS collection component to display teasers.
{% endcomment %}

<nav>
  <p>Filter by New | Category | Status</p>
  <p>Sort by Date | A-Z</p>
</nav>

<ul class="usa-card-group">
  {%- for standard in collections.standards -%}
    <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4">
      <div class="usa-card__container">
        <div class="usa-card__header">
          <h4 class="usa-card__heading">{{ standard.data.title }}</h4>
        </div>
        <div class="usa-card__body">
          <span class="usa-tag">{{ standard.data.pageFlowSection }}</span>
          <p><strong>Category: </strong>{{ standard.data.category }}</p>
          <p><strong>Why: </strong>{{ standard.data.why }}</p>
          <p><strong>Status: </strong>{{ standard.data.status }} {{ standard.data.statusIndicator }}</p>
        </div>
        <div class="usa-card__footer">
          <a href="{{ standard.url | url }}" class="usa-button">Learn about
            {{ standard.data.title }}</a>
        </div>
      </div>
    </li>
  {%- endfor -%}
</ul>

<a href="{{ '..' | url }}">View these standards as a collection</a>
