---
layout: layouts/page-columns
---
{% comment %}
This template uses the USWDS card component.
See https://designsystem.digital.gov/components/card/#when-to-use-the-card-component
{% endcomment %}
{% if title %}
  <h1 class="font-heading-2xl"> {{ title }} </h1>
{% endif %}
 
Federal website standards will help agencies provide high-quality, consistent digital experiences for everyone.

<h2 class="font-heading-xl padding-top-6">Pending standards</h2>
<p>Pending standards will be required after a specified period of time. Agencies should plan to comply with pending standards.</p>
<ul class="usa-card-group">

{%- for standard in collections.standards -%}
  {% if standard.data.status == "Pending" %}
  <li class="usa-card mobile:grid-col desktop:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h4 class="usa-card__heading">
          <a
            class="usa-link font-heading-xl"
            href="{{ standard.url | url }}"
            >{{ standard.data.title }}</a
          >
        </h4>
      </div>
      <div class="usa-card__body">
        <p><strong>Why: </strong>{{ standard.data.why }}</p>
        <p><strong>Status: </strong>{{ standard.data.status }}</p>
      </div>
      <div class="usa-card__footer">
        Updated <time datetime="{{ standard.date | toISOString: 'yyyy-MM-dd TTZZ' }}">
              {{ standard.date | toISOString: 'DDD' }}
            </time>
      </div>
    </div>
  </li>
  {% endif %}
{%- endfor -%}

</ul>

<h2 class="font-heading-xl padding-top-4">Potential standards</h2>
<p>Potential standards are being researched or drafted.</p>
<ul class="usa-card-group">

{%- for standard in collections.standards -%}
  {% if standard.data.status != "Pending" %}
  <li class="usa-card mobile:grid-col desktop:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h4 class="usa-card__heading">
          <a
            class="usa-link font-heading-xl"
            href="{{ standard.url | url }}"
            >{{ standard.data.title }}</a
          >
        </h4>
      </div>
      <div class="usa-card__body">
        <p><strong>Why: </strong>{{ standard.data.why }}</p>
        <p><strong>Status: </strong>{{ standard.data.status }}</p>
      </div>
      <div class="usa-card__footer">
        Updated <time datetime="{{ standard.date | toISOString: 'yyyy-MM-dd TTZZ' }}">
              {{ standard.date | toISOString: 'DDD' }}
            </time>
      </div>
    </div>
  </li>
  {% endif %}
{%- endfor -%}

</ul>
