---
layout: layouts/default
---

{% comment %}
This template is for a single page with meta data. It should feed the page-columns.html template.
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap-6">
      {% if sidenav == true %}
      {% include "sidenav.html" %}
      {% endif %}
      <div class="desktop:grid-col-9 usa-prose">
        <h1 class="title"> {{ title }} </h1>
        {{ content }}
      </div>
      {% if surveyLink %}
      <aside class="desktop:grid-col-3">
        <div class="bg-base-lightest padding-4 radius-lg margin-bottom-4">
          <h2 class="margin-top-0">Help improve the standards</h2>
          <p>Let us know what you think about this standard.</p>
          <a href="{{ surveyLink }}" class="usa-button">Take the survey</a>
        </div>
      </aside>
      {% endif %}
    </div>
  </div>
</div>
