---
layout: layouts/default
---

{% comment %}
This template is for a single page with meta data. It should feed the page-columns.html template.
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row">
      {% if sidenav == true %}
      {% include "sidenav.html" %}
      {% endif %}
      <div class="desktop:grid-col-9 usa-prose">
        {% if title %}
          <h1 class="title"> {{ title }} </h1>
        {% endif %}
        {{ content }}
      </div>
      {% if surveyLink %}
      <aside class="desktop:grid-col-3">
        <div class="bg-base-lightest padding-4 radius-lg margin-bottom-4">
          <h2 class="margin-top-0">Help improve the standards</h2>
          <p>Let us know what you think about this standard.</p>
          <a href="{{ surveyLink }}" class="usa-button display-inline-flex" rel="noopener noreferrer" target="_blank" title="This will take you to Qualtrics to fill out a survey."><span class="usa-button--text padding-right-05">Take the survey</span> {% uswds_icon "launch" %}</a>
        </div>
      </aside>
      {% endif %}
    </div>
    <div class="grid-row text-italic margin-top-4" id="last-updated">
      <span>Last updated&nbsp;</span>
      <time datetime="{{ page.date | toISOString: 'yyyy-MM-dd TTZZ' }}">
       {{ page.date | toISOString: 'DDD' }}
      </time>
       (<a href="https://github.com/GSA-TTS/federal-website-standards/commits/main/{{ page.inputPath | remove_first: '.' }}">View the history of this standard</a>)
    </div>
    </div>
</div>
