/*---------------------------------------------------------
USWDS Settings
----------------------------------------------------------*/
@use "uswds-core" as * with (
  $theme-show-notifications: false,
  $theme-font-path: "../node_modules/@uswds/uswds/dist/fonts",
  $theme-image-path: "../node_modules/@uswds/uswds/dist/img",
  $theme-font-type-sans: "public-sans",
  $theme-hero-image: "../_img/hero.png",
);

/*---------------------------------------------------------
USWDS Source
----------------------------------------------------------*/
@forward "uswds";

/*---------------------------------------------------------
Custom styling
----------------------------------------------------------*/
@forward "overrides/_usa-step-indicator.scss";
@forward "overrides/_hero.scss";
@forward "overrides/_global.scss";
@forward "overrides/_usa-section.scss";
