@use "uswds-core" as * with (
  $theme-show-notifications: false,
  $theme-font-path: "../node_modules/@uswds/uswds/dist/fonts",
  $theme-image-path: "../node_modules/@uswds/uswds/dist/img",
  $theme-font-type-sans: "public-sans",
  $theme-hero-image: "../_img/hero.png",
  $theme-grid-container-max-width: "widescreen",
  $theme-banner-max-width: "widescreen",
  $theme-footer-max-width: "widescreen",
  $theme-header-max-width: "widescreen",
  $theme-identifier-max-width: "widescreen",
  $theme-site-alert-max-width: "widescreen"
);

@forward "uswds";
